<!DOCTYPE html>
<html>
<head>
    <meta charset = "UTF-8">
    <title>Iris Flower Prediction</title>
</head>
<body>
    <h1>Iris Flower Prediction</h1>
    <form action="{{ url_for('predict')}}"method="POST">
        <label for="sepal_length">Sepal Length:</label>
        <input type="number" name="sepal_length" id="sepal_length" required><br><br>

        <label for="sepal_width">Sepal Width:</label>
        <input type="number" name="sepal_width" id="sepal_width" required><br><br>

        <label for="petal_length">Petal Length:</label>
        <input type="number" name="petal_length" id="petal_length" required><br><br>

        <label for="petal_width">Petal Width:</label>
        <input type="number" name="petal_width" id="petal_width" required><br><br>

        <button type="submit">Predict</button>
    </form>

    {% if rfc_prediction %}
        <h2>Random Forest Classifier Prediction: {{ rfc_prediction }}</h2>
    {% endif %}

    {% if knn_prediction %}
        <h2>K Nearest Neighbors Prediction: {{ knn_prediction }}</h2>
    {% endif %}

    {% if lr_prediction %}
        <h2>Logistic Regression Prediction: {{ lr_prediction }}</h2>
    {% endif %}
</body>
</html>